.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/

data/cache/
logs/
catalogs/galaxy_exclusions.csv
catalogs/galaxy_exclusions.csv
JWST_Failed_SNe_Cycle_5.pdf
site/uber_nova_search/assets/triptychs/
